/* input {
    transform: scale(1.2);
} */

#main {
    font-size: 1.4em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    color: white;
    background: #1c1a1a;
}

#location-sidebar {
    width: 30vw;
    min-width: 300px;
    position: fixed;
    right: 0;
    top: 120px;
    background: inherit;
}